
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>



<footer class="bg-dark bg-footer" style="margin-top: 80px;" id="contactus">
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h5 class="text-light">About Us</h5>
          <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum fuga vero ratione quis. A neque quam, rem recusandae temporibus id.</p>
          <p class="text-light"><i class="fa fa-location">WZ-697 Palam Village ND-45</i></p>
          <P class="text-light"><i class="fa fa-phone"></i>(72*****297)</P>
          <p class="text-light"><i class="fa fa-envelope"></i>Kaushikproperty@gmail.com</p>
        </div>

        <div class="col-lg-3">
          <h5 class="text-light">Quick Links</h5>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>

          </ul>
        </div>
        <div class="col-lg-3">
          <h5 class="text-light">Stay Connected</h5>
          <ul class="list-unstyled">
            <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i> Linkedin</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i> Insatgram</a></li>
            <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
          </ul>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-lg-12">
          <p class="text-center text-light">
              copyright 2024 <a href="#">Harsh Pandit   </a>.All rights Reserved
          </p>
        </div>
      </div>
    </div>

</footer>